.layout {
    display: flex;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.main {
    flex: 1;
    margin-left: 260px;
    padding: 0;
    max-width: 100%;
    transition: margin-left 0.3s ease;
}

/* Mobile */
@media (max-width: 768px) {
    .main {
        margin-left: 0;
        margin-top: 0;
        padding: 0;
    }
}